@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --primary-color: #017DC1;
  --blue-bg: #DAEEFF;
  --page-bg: #F8F8F5;
  --component-bg: #ffffff;
  --gray-bg: #F8FAFC;
  --border-color: #E2E8F0;
  --primary-text: #0F172A;
  --secondary-text: #475569;
  --alternative-text: #94A3B8;
  --button-item: #ffffff;
  --success: #22C55E;
  --danger: #FF3E3E;
  --star: #FFD900;
}

body {
  background: var(--page-bg);
  color: var(--primary-text);
  font-family: Lexend;
}

/* Centralizando os ícones do bootstrap para não ficarem desalinhados */
i {
  line-height: 0;
}