backend/venv/
backend/.venv/
backend/env/
backend/ENV/

__pycache__/
*.py[cod]
*.pyo
*.pyd

backend/.env
backend/.env.*
!backend/.env.example

.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

backend/media/
backend/staticfiles/
backend/collectstatic/

backend/db.sqlite3
backend/*.sqlite3
backend/*.sqlite3-journal

*.log
backend/logs/